<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue3 动画 过渡效果</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link type="text/css" href="vue02.css" rel="stylesheet">
    <!--    <script type="text/javascript" src="vue01.js"></script>-->
</head>
<body>

<div id="div_01">
    <!--    <button :class="css02" v-if="css02.isShow">显示隐藏</button>-->

    <transition>
        <button class="demo blue" :class="css03" v-if="css03.isShow">进入退出动画</button>
    </transition>

    <br>
    <button class="demo t2" @click="btnClick">点我</button>
</div>


<script>
  const app = Vue.createApp({
    data () {
      return {
        isAnimation: {
          animation: false
        },

        css03: {
          isShow: false
        }

      }
    },
    methods: {
      btnClick () {
        this.css03.isShow = !this.css03.isShow

      }

    }
  })

  app.component('animation-view', {
    template: '<div >自定义动画view</div>'
  })
  app.mount('#div_01')
</script>


</body>
</html>

